body{
    text-align: center;
}

p{
    margin: auto;
    font-weight: 600;
    font-size: 3rem;
}
span{
    display: inline-block;
    width: 45px;
}
table{
    margin: auto;
}
#milisecond{
    font-size: 0.5em;
    color: red;
}