@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap');
body {
    background-color: #dfdfdf;
}
* {
    font-family: 'Sora', sans-serif;
}
h1{
    text-align: center;
    font-size: xx-large;
    padding-top: 1em;
}
label{
    display: inline-block;
    font-weight: bold;
    margin-top: 1em;
}
form{
    margin-left: 1.2em;
}

input{
    border-radius: 8px;
    border-style: double;
    margin-bottom: 1em;
}
.card{
    height: 3em;
    width: 28em;
}
[for="cvv"]{
    margin-left: 3.5em;
}
input#cvv.cvv{
    margin-left: 1em;
}
.cvv{
    height: 3em;
    width: 13.1em;
}
input[type='submit']{
    margin-top: 0.5em;
    margin-left: 11em;
    color: white;
    font-weight: bold;
    border-style: none;
    background-color: #007BFF;
    border-radius: 5px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
}
input[type='submit']:hover{
    background-color: rgb(9, 93, 182);
}
#card{
    box-shadow: 0px 0px 18px 12px rgba(0,0,0,0.11);
    margin-left: 10%;
    margin-top: 5%;
    background-color: #ffffff;
    border-radius: 7px;
    height: 31em;
    width: 26em;
}