@media only screen and (min-width: 993px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right;
    }
    ul{
        display: flex;
        margin-top: 0.6em;
    }
    li{
        margin: 10px 10px;
    }
    hgroup{
        margin-right: 20px;
    }
    a{
        padding: 5px 0.4em;
    }
    img{
        display: block;
        height: 80px;
        margin-left: 30px;
    }
    
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 350px;
        height: 400px;
        margin: 0.3em 0.8em;
    }
    hgroup{
        margin-right: 4em;
    }
}